.nepsity-container {

	width:960px;
	margin-left: auto;
	margin-right:auto;
	
}

.nepsity-container:before, .nepsity-container:after {	
	display:table;
	container: "";
	line-height:0;	
}

.nepsity-container:after {
	clear:both;
}


.nepsity-content {	
	background-color: #fff;
	min-height:900px;
}


/*EVENT CALENDAR**********/
#calendar-wrapper { position:relative; background-color: rgba(200,200,200,1);	 white-space:nowrap; margin-bottom:10px;}
	#event-calender { margin:0px auto; padding:8px 0; width:810px; }
		.calendar { padding: 0px;margin: 0px;overflow: hidden;color: #FFF;font-family: "Lucida Grande", Lucida Sans Unicode, Tahoma, Arial;font-size: 8pt; }
		.calendar-nav { overflow: hidden; padding-left: 2px; padding-bottom: 10px; zoom: 1;}
		.calendar-nav div { float: left; }
		.current-month { height: 20px; color: #fff;  background:#000; padding: 0px 15px 0px 15px; line-height: 1.6em; box-shadow: 0 2px 5px rgba(0,0,0,0.5); border:1px solid #000;}
		.nav-next-year,
		.nav-next-month,
		.nav-last-month,
		.nav-last-year {
			cursor: pointer;
			width: 15px;
			height: 20px;
			color: #fff;
			text-shadow: 0 1px 2px rgba(0,0,0,0.5);
			text-decoration: none;
			text-align: center;	
			outline: none;
			display: block;	
			background-color: #888;
			border: 1px solid #666;										
			box-shadow: 0 2px 5px rgba(0,0,0,0.5);
			background-image: -moz-linear-gradient(bottom, #666 25%, #888 75%);
			background-image: -webkit-linear-gradient(bottom, #666 25%, #888 75%);
			background-image: -ms-linear-gradient(bottom, #666 25%, #888 75%);
			background-image: linear-gradient(bottom, #666 25%, #888 75%);
			line-height:20px;
		}
		.calendar-weekday { overflow : hidden; display: block;}
		.calendar-day { overflow : hidden; display: block; }
		.calendar-weekday ul, .calendar-day ul { list-style: none; margin: 0px; padding: 0px; overflow:hidden;	width:851px; white-space:nowrap; }
		.calendar-weekday li, .calendar-day li { float: left; margin-right: 2px; padding: 3px 2px 0px 2px; border-bottom: 1px solid #FFF;}
		.calendar-day li { border: none;}
		.calendar-day li { padding: 0px 2px 3px 2px !important; }
		.calendar-weekday li div, .calendar-day li div {text-transform: uppercase;text-align: center;width: 20px;}
		.calendar-weekday div { background: url(/media/images/calendar-cell.png) no-repeat left top; padding: 3px 0px 5px 0px !important;} 
		.calendar-day div { background: url(/media/images/calendar-cell.png) no-repeat left bottom; padding: 5px 0px 3px 0px !important; }
		.calendar-weekday .today { background: url(/media/images/calendar-cell-today.png) no-repeat left top; padding: 3px 0px 5px 0px !important;} 
		.calendar-day .today { background: url(/media/images/calendar-cell-today.png) no-repeat left bottom; padding: 5px 0px 3px 0px !important; }
		.calendar-weekday .event, .calendar-day .event { color: #F9770F; cursor: pointer; }
		.event-bubble { display: none; overflow: hidden; width: 142px; position: absolute; font-family: Tahoma, Arial;font-size: 8pt;}
		.event-bubble .bubble_top,
		.event-bubble .bubble_bottom,
		.event-bubble .bubble_mid { background: url(/media/images/bubble.png) repeat-y; overflow: hidden; }
		.bubbleIE6 { background-image: url(/media/images/bubble.gif) !important; }
		.event-bubble .bubble_top{ height: 10px; background-position: -142px 0px; }
		.event-bubble .bubble_bottom { height: 10px; background-position: -142px -38px; }
		.event-bubble .bubble_mid { background-position: -284px -1px; overflow: hidden; }
		.event-bubble .event-title{ cursor: pointer; color: #FFF; padding: 3px 0px 3px 0px; margin: 0px 5px 0px 5px; border-bottom: 1px solid #999; font-weight: bold; }
		.event-bubble .event-title:hover{ color: #C1E20D;}
		.event-bubble .event-title:hover + next{ display: block; }
		.event-bubble .event-title a.title-link { color:#fff; text-decoration:none; white-space:normal;}
		.event-bubble .event-title a.title-link:hover { color: #c1e20d; }
		.event-bubble .event-description { overflow: hidden; display: none; color: #fff; font-weight: normal; margin: 3px 0px 0px 0px; white-space:normal;}
		


#partners-container { white-space:nowrap; overflow:hidden;clear:both; position: relative;height:auto; margin-top:10px; margin-bottom:10px;}
	#partner-img { display:block;}
	#partner-img a { display:block; height:27px; color: #000; text-decoration:none; font-size:14px; font-weight:bold;}
	#partners-bg { background-color:transparent;; height:160px; top:0; left:0; border:1px solid #ddd; }
	#partners-wrapper { display:block; overflow:hidden; margin:0 32px;}
	#partners-container ul {z-index: 98; list-style: none outside none; text-align:center;}
	#partners-container ul li { display:inline-block; height: 140px; padding:10px; width:153px;}
	#partners-container ul li:hover { background-color: #ccc; border-radius:10px !important;}
	#partners-container #partner-img { float:left;}
	#partners-container #partner-img img {border:0;}
	#partners-container ul li a { float: left; height: 100%; width:100%; margin:0;overflow:hidden;}
	#partners-container ul li a img {margin:0; border:0;}

	#partners-left {position:absolute; left:0px; display:none; }
	#partners-right { position:absolute; right:0px; display:none; }
	#partners-left a, #partners-right a { display:block; width:41px; height:41px; margin-top:60px}	
	#partners-left a { background:url(/nepsity/public_html/img/leftNavON.png) no-repeat;}
	#partners-right a {background:url(/nepsity/public_html/img/rightNavON.png) no-repeat;}
	





.boxgrid { width: 225px; height: 225px; margin:10px 8px 0px 7px; float:left; background:#161613; overflow: hidden; position: relative; }
	.boxgrid img{ position: absolute; top: 0; left: 0; border: 0; height:100%; width:100%; }
.boxcaption{ float: left; position: absolute; background: rgb(31, 94, 124); color:#fff; height: 185px; width: 100%; opacity:.9; /* For IE 5-7 */ filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* For IE 8 */ -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.boxcaption:hover { background-color: #000000;}
.captionfull .boxcaption { top: 195px; left: 0; color:#fff; }
.caption .boxcaption { top: 220; left: 0; color:#fff; }
.boxcaption h3{ font:14px Helvetica, Arial, sans-serif; color:#fff; padding: 8px 8px 0 8px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.boxcaption p{12px Tahoma, Verdana, sans-serif; color:rgb(255, 255, 255); padding: 0 8px;}




.nepsity-well { padding: 30px; margin-bottom: 30px; font-size: 18px; font-weight: 200; line-height: 30px; color: inherit; background-color: #eeeeee; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.nepsity-well { font-size: 15px; font-weight:bold; }
.nepsity-well p { font-size: 13px; line-height:18px; }

.well-lightblue { background: #52b9e9 !important; color: #fff !important; border: 0px !important; }
.well-blue { background: rgb(0, 96, 150) !important; color: #fff !important; border: 0px !important; }
.well-dark { background: rgb(51, 51, 51) !important; color: #fff !important; border: 0px !important; }

.background-blue { background-color: rgb(6, 116, 179); }

.color-yellow { color: rgb(255, 184, 0) !important; }
.color-white { color: #ffffff !important; }









.footerBar{position:relative; width:100%; min-width:960px; margin-top:-275px; height:280px; clear:both; background:rgb(77, 77, 77); background: rgba(0, 0, 0, 0.8);}

.footerWrapper span, .footerWrapper p, .footerWrapper a {color:#ebebeb;}
.partnersLogo {border:1px solid transparent; }
	.partnersLogo ul { list-style: none inside none; text-align: left; display: block; background: rgb(44, 44, 44); border: 2px dashed rgb(102, 102, 102);
	border-radius: 10px !important; margin:0px;
	box-shadow: 0 0 0 4px rgb(37, 37, 37), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);}
		.partnersLogo ul li { display:inline-block; padding:0; margin:0;}
			.partnersLogo ul li img { width:100px;height:100px; display:inline-block; }


.footerMenu {background:#1b1b1b;}
.footerMenu a {color:rgb(160, 160, 160); transition: all 0.2s ease-in; -webkit-appearance:none;}
.submenu a { color:#fff; }
.footerMenu span {float:right; margin-top:10px;}

.menu-list { margin-top:10px; }
.menu-list li {list-style-type:none; display:inline; }
.menu-list li a {text-decoration:none; margin:10px 10px 10px 0; }


.pointer { cursor: pointer; }


.organiserListHolder{ padding: 3px 0 6px 1px; }
.organiser { width:175px; height:175px; float:left; margin:5.5px; position:relative; }
.organiserFlip{ position:absolute; left:0; top:0; width:100%; height:100%; border:1px solid #ddd; background:url("/media/images/bg-organiser-flip.jpg") no-repeat center center #f9f9f9; }

.organiserFlip:hover{ border:1px solid #999; -moz-box-shadow:0 0 30px #999 inset !important; -webkit-box-shadow:0 0 30px #999 inset !important; box-shadow:0 0 30px #999 inset !important; }

.organiserFlip img{ position:absolute; top:50%; left:50%; margin:-70px 0 0 -70px; height:140px; width:140px;}
.organiserData{ display:none; }
.organiserDescription { font-size:14px; text-align:center; padding:50px 8px 8px 4px; font-weight:bold; }



.border-left { border-left: 1px solid #ddd;}
.banner { height:320px; width:960px; }
.banner img { height:100% !important; width:100% !important; }

.spacer { margin-top:10px; }
